@import url('./common.css');

body {
  display: flex;
}


form {
  position: relative;
  max-width: 450px;
  width: 100%;
  background-color: white;
  display: flex;box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgb(230, 230, 230) 0px 6px 6px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  
  padding: 2rem 3rem;
  box-sizing: border-box;
  border-radius: 10px;
}

form:after {
  position: absolute;
  content: '';
  width: .7em;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(var(--primary), var(--secondary));
  border-radius: 10px 0 0 10px;
}

.form-header {
  margin:1rem 0 2rem;
}

.form-header h1, h2 {
  font-size: 2rem;
  color: rgb(104, 104, 104);
  font-weight: 400;
}

.form-control {
  position: relative;
  width: 300px;
  margin-bottom: 1rem;
}


.form-input {
  display: block;
  width: 100%;
  min-width: 180px;
  padding: .4rem .5rem;
  border: none;
  border-bottom: 2px solid rgb(141, 141, 141);
  margin-bottom: 1.5rem;
  font-size: 1rem;
  transition: all .3s ease-out;
}

.form-input:focus {
  outline: none;
  border-bottom: 1px solid rgb(136, 136, 136);
}

.form-control label {
  position: absolute;
  top: -.5rem;
  left: 0;
  margin-top: .9rem;
  font-size: 1rem;
  color: var(--text-color);
  pointer-events: none;
  transition: all .3s ease-out;
}


.form-control  input:focus + label,
.form-control  input:valid + label {
  font-size: .975REM;
  margin-top: -5%;
  color: rgb(159, 159, 159); 
}

.ri-eye-line {
  position: absolute;
  top: 10px;
  right: -10px;
  z-index: 100;
  color: var(--text-color);
  visibility: visible;
  cursor: pointer;
}

button {
  width: 90%;
  padding: .5em 3em;
  background: linear-gradient(var(--primary), var(--secondary));
  font-weight: 400;
  margin: 2rem 0 1rem;
  color: white;
  font-weight: 600;
  font-size: 1.125rem;
}



#msgError {
  text-align: center;
  color: #D85A5A;
  background-color: #e3b2b2;
  padding: 10px;
  border-radius: 4px;
  display: none;
  margin-bottom: 1.5rem;
}

#msgSuccess {
  text-align: center;
  color: #1d622a;
  background-color: #a3d1ab;
  padding: 10px;
  border-radius: 4px;
  display: none;
  margin-bottom: 1.5rem;
}

.ingressar {
  text-align: center;
  text-decoration: none;
  margin-top: 1em;
}


.left {
  width: 50%;
  background-color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left img {
  width: 60%;
}

.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}