@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;600&display=swap');

:root {
  --primary: #7898FF;
  --secondary: #8E64C5;
  --app-grey: #F2F2F2;
  --text-color: #1d1c32;
  --bg-color: #F6F6F6;
  --success-color: green;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
}

body {
  background-color: #1d1c32;
  min-height: 100vh;
}

button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}